html, body {
    margin: 0;
    padding: 0;
    text-align: center;
    overflow-x: hidden;
}

* {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Caveat', cursive;
    font-size: 3vw;
    text-align: center;
}

.time-input {
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    justify-content: center;
}

